{% extends 'distributions_list/layout.html' %}
{% load static %}

{% block title %}
	{{ dist.name }}
{% endblock %}

{% block extra-link %}
	<link rel="stylesheet" href="{% static 'distributions_list/css/distributions_list.css' %}">
	<link rel="stylesheet" href="{% static 'distributions_list/css/dist.css' %}">
	<link rel="stylesheet" href="{% static 'distributions_list/css/simple-rating.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--jQuery-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script> 
	<script src="{% static 'distributions_list/js/simple-rating.js' %}"></script>
{% endblock %}

{% block panel-right %}
	{% if user and user.username %}
		<h5>{{ user.username }}</h5>
		<a class="btn btn-outline-primary" href="/accounts/logout">Выйти</a>
	{% else %}
		<a class="btn btn-outline-primary" href="/accounts/login">Вход</a>
		<a class="btn btn-outline-primary" href="/accounts/register">Регистрация</a>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="features">
		<div class="dist-title">
			<img class="dist-logo-img" src="/static/{{ dist.icon_path }}">
			<div id="dist-title"><h1>{{ dist.name }}</h1></div>
		</div>
		<div class="info-block">
			<h3>Популярность: {{ dist.popularity }}</h3>
			<h3>Поддерживаемость сообществом: {{ dist.society_support }}</h3>
			<h3>Надёжность и стабильность: {{ dist.stability }}</h3>
			<h3>Простота в использовании: {{ dist.user_friendly }}</h3>
			<h3>Частота обновлений программ: {{ dist.programs_update_frequency }}</h3>
			<h3>Настраиваемость: {{ dist.customizability }}</h3>
			<h3>Потребление: {{ dist.consumption }}</h3>
		</div>
		<div class="text-block">
			{% autoescape off %}
			{{ dist.full_info }}
			{% endautoescape %}
		</div>
		{% if user and user.username %}
			<div id="input-review" class="input-review">
				<h3>Оставить отзыв</h3>
				<form id="review-send" method="post">
					{% csrf_token %}
					{% for element in form %}
						<div class="input-group mb-3">
							{{ element }}
						</div>
					{% endfor %}
					<button id="submit-btn" type="submit" class="btn btn-primary" value="Опубликовать">Опубликовать</button>
				</form>
			{% if error %}
				<div class="alert alert-danger">
					<strong>{{ error|escape }}</strong>
				</div>
			{% endif%}
			</div>
		{% else %}
			<div id="input-review" class="input-review">
				<h3>Оставить отзыв</h3>
				<p>Пожалуйста, войдите, чтобы оставить отзыв.</p>
			</div>
		{% endif %}
		<hr align="center" color="black" />
		<div class="reviews-block">
		<h3 align="center">Отзывы</h3>
		{% if reviews %}
			<div id="reviews" class="reviews">
			{% for element in reviews %}
				<div class="review alert alert-info">
					<div class="review-rate simple-rating star-rating">
						{% with ''|center:5 as range %}
						{% for _ in range %}
							{% if forloop.counter <= element.rate %}
								<i class="fa fa-star" data-rating="{{ forloop.counter }}"></i>
							{% else %}
								<i class="fa fa-star-o" data-rating="{{ forloop.counter }}"></i>
							{% endif%}
						{% endfor %}
						{% endwith %}
					</div>
					{% autoescape off %}
					{{ element.text }}
					{% endautoescape %}
					<p class="review-info">{{ element.date }}, {{ element.user_id.username }} {% if user.id == element.user_id.id %}<a href="{% url 'review-detail' element.id %}">Редактировать</a> <a href="{% url 'review-delete' element.id %}">Удалить</a>{% endif %}</p>
				</div>
			{% endfor %}
			</div>
		{% else %}
			<div id="reviews" class="reviews">
				<p class="no-review-message">Похоже, ещё никто не оставил здесь отзыв данному дистрибутиву. Вы можете быть первыми!</p>
			</div>
		{% endif %}
		</div>
	</div>
{% endblock %}

{% block extra-js%}
	{% if user and user.username %}
	<script type="text/javascript">
		CKEDITOR.replace('id_text');
		$('#rate').rating();
		
		function Text() {
			if (CKEDITOR.instances["id_text"].getData() === '') return '';
			if (CKEDITOR.instances["id_text"].getData().localeCompare('<p>') === 0) return '';
			return CKEDITOR.instances["id_text"].getData();
		}
		
		$(document).ready(function(){
			$(document).on('click', '#submit-btn', function(){
				$.ajax({
					url: "",
					type: "POST",
					data: "csrfmiddlewaretoken={{ csrf_token }}&rate="+document.getElementById("rate").value+"&text="+Text(),
					cache: false,
					success: function(html){
						$("#input-review").html($(html).find("#input-review"));
						$("#reviews").html($(html).find("#reviews"));
						CKEDITOR.replace('id_text');
						$('#rate').rating(parseInt(document.getElementById("rate").value));
					}
				});
				return false;
			});
		});
	</script>
	{% endif %}
{% endblock %}
