{% extends 'distributions_list/layout.html' %}
{% load static %}

{% block title %}
	Список дистрибуитивов
{% endblock %}

{% block extra-link %}
	<link rel="stylesheet" href="{% static 'distributions_list/css/distributions_list.css' %}">
	<!--Plugin CSS file with desired skin-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
	<!--jQuery-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!--Plugin JavaScript file-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
{% endblock %}

{% block panel-right %}
	{% if user and user.username %}
		<h5>{{ user.username }}</h5>
		<a class="btn btn-outline-primary" href="/accounts/logout">Выйти</a>
	{% else %}
		<a class="btn btn-outline-primary" href="/accounts/login">Вход</a>
		<a class="btn btn-outline-primary" href="/accounts/register">Регистрация</a>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="features">
		<h1>Критерии дистрибутива</h1>
		<div class="input-body">
			<form id="filter" method="post">
				{% csrf_token %}
				{% for slide in criteries.slides %}
					<div class="slide">
						<h3>{{ slide.name }}</h3>
						<input id="{{ slide.id }}" type="text" name="{{ slide.id }}" class="slide irs-hidden-input" tabindex="-1" readonly="">
					</div>
				{% endfor %}
				<button id="show" type="submit" class="btn btn-primary">Показать</button>
			</form>
		</div>
		<h1>Результат</h1>
		{% if dists %}
			<div id="dists-block" class="dists-block">
			{% for el in dists %}
				<div class="dist alert alert-primary">
					<div class="dist-title">
						<img class="dist-logo-img" src="/static/{{ el.icon_path }}">
						<h3>{{ el.name }}</h3>
					</div>
					<p>{{ el.short_info }}</p>
					<a href="{% url 'dist' el.id %}" class="btn btn-primary">Смотреть подробнее</a>
				</div>
			{% endfor %}
			</div>
		{% else %}
			<div id="dists-block" class="dists-block">
				<p>К сожалению, не было найдено дистрибутивов, соответствующих вашим требованиям(</p>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block extra-js%}
	<script type="text/javascript">
		$(document).ready(function(){
			{% for slide in criteries.slides %}
				var {{ slide.id }}_from = {{ slide.from }}, {{ slide.id }}_to = {{ slide.to }};
				$("#{{ slide.id }}").ionRangeSlider({
					type: "double",
					grid: true,
					grid_num: 5,
					min: 0,
					max: 5,
					from: {{ slide.from }},
					to: {{ slide.to }},
					onChange(data) {
						{{ slide.id }}_from = data.from;
						{{ slide.id }}_to = data.to;
					}
				});
			{% endfor %}
			
			$('#filter').submit(function(){
				$.ajax({
					url: "",
					type: "POST",
					data: "csrfmiddlewaretoken={{ csrf_token }}&"+{% for slide in criteries.slides %}"{{ slide.id }}="+{{ slide.id }}_from.toString()+"."+{{ slide.id }}_to.toString()+"&"+{% endfor %}"ajax=awesome",
					cache: false,
					success: function(html){
						$("#dists-block").html($(html).find("#dists-block"));
					}
				});
				return false;
			});
		});
	</script>
{% endblock %}
