main .features .dist-title img.dist-logo-img {
	width: 80px !important;
	margin-right: 10px !important;
}

main .features .dist-title h1 {
	font-size: 80px !important;
	margin: auto;
}

main .features .text-block {
	width: 70%;
	margin-top: 30px;
	margin: auto;
	text-align: justify;
}

main .features .input-review {
	width: 70%;
	margin-top: 30px;
	margin: auto;
	text-align: justify;
}
