div.panel {
	text-align: center;
}

img.logo-img {
	height: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

nav h5 {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 20px;
}

div.input-body {
	margin: 40px auto;
}

div.slide {
	margin: 30px auto;
}

div.input-body button {
	width: 30%;
}

input.slide {
	display: none;
}

main {
	display: flex;
	justify-content: center;
}

main .features {
	width: 70%;
	margin-top: 50px;
	text-align: center;
}

main .features h1 {
	font-size: 50px;
}

main .features .demo-body h3 {
	font-size: 25px;
}

main .features .info-block h3 {
	margin: 20px auto;
}

main .features .dists-block {
	margin-top: 40px;
	margin-bottom: 40px;
}

main .features .dist.alert.alert-primary {
	margin: auto;
	margin-bottom: 20px;
}

main .features img.dist-logo-img {
	width: 50px;
	margin-right: 10px;
}

main .features .dist-title {
	display: flex;
	align-items: center;
	justify-content: center;
}

main .features .dist-title h3 {
	margin-top: auto;
}

main .features p {
	margin: 20px auto;
}
